<section class="mt-5">
  <div class="container mb-5 p-5 bg-theme">
    <h1 class="text-center text-white">Tearms & Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ex inventore hic, delectus nobis saepe. Magni impedit atque molestias dolor officia minima quo eveniet nemo! Dolor doloribus doloremque vel debitis.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ex inventore hic, delectus nobis saepe. Magni impedit atque molestias dolor officia minima quo eveniet nemo! Dolor doloribus doloremque vel debitis.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ex inventore hic, delectus nobis saepe. Magni impedit atque molestias dolor officia minima quo eveniet nemo! Dolor doloribus doloremque vel debitis.</p>

      <div class="text-center">
        <div class="btn btn-info btn-sm mt-4">Back to home</div>
      </div>
    </div>

  </div>
</section>
