<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Employee Management</h2>
        </div>
        <div class="col ml-auto text-right">
            <button class="btn btn-outline-success" (click)="onAddEmpployee()">Add employee</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of postsData">
            <div class="card-md-3 mx-3">
                <div class="card-body">
                    <h5 [routerLink]="['/employee/'+item.id]" class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.body}}</h6>
                    <span class="badge badge-success">Design</span>
                    <hr>
                    <button class="btn btn-sm btn-outline-primary" (click)="onEditEmployee(item)" >Edit</button>
                    <button class="btn btn-sm btn-outline-danger" (click)="onDeletePost(item.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade show" role="dialog" [ngStyle]="{'display':displayStyle}" [class.show]="showModal"
    id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{editMode ? 'Update' : 'Add'}} employee</h5>
                <button type="button" (click)="onCloseModal()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="empForm" (ngSubmit)="onPostSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Enter userid</label>
                        <input type="number" value={{uid}} class="form-control" placeholder="Enter userid" readonly
                        formControlName="userid">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Enter title</label>
                        <input type="text" class="form-control" formControlName="Enter title" formControlName="title">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Enter body</label>
                        <textarea type="text" class="form-control" formControlName="body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onCloseModal()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>