<div class="container">
    <div class="my-3">
        <h2>Take</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <strong>Ex- 1 Take(5)</strong>
                <hr>
                <ul id="ulcontainer"></ul>
            </div>

            <div class="col-md-4">
                <strong>Ex-2 Takelist(5)</strong>
                <hr>
                <ul id="ulcontainer2"></ul>
            </div>

            <div class="col-md-4">
                <strong>Ex-3 Takeuntil(5)</strong>
                <hr>
                <ul id="ulcontainer3"></ul>
            </div>
        </div>
    </div>
</div>