<div class="container">
    <div class="my-3">
        <h2>Switch-Map</h2>
        <br>
        <div class="row">
            <div class="col-md-3">
                <strong>Ex- 1 | Map</strong>
                <hr>
                <p class="bg-light py-2 px-3 boorder rounded">
                    <strong>Map:</strong> ['Tech', 'Comady', 'News']
                </p>
                <ul id="contaiiner1"></ul>
                <!-- <p>Message: <strong class="text-success">{{messag1}}</strong></p> -->
            </div>

            <div class="col-md-3">
                <strong>Ex-2 || Map+SwitchAll</strong>
                <hr>
                <p class="bg-light py-2 px-3 boorder rounded">
                    <strong>Map:</strong> ['Tech', 'Comady', 'News']
                </p>
                <ul id="contaiiner2"></ul>

                <!-- <p>Message: <strong class="text-success">{{messag2}}</strong></p> -->
            </div>

            <div class="col-md-3">
                <strong>Ex- 3 | SwitchMap</strong>
                <hr>
                <p class="bg-light py-2 px-3 boorder rounded">
                    <strong>Map:</strong> ['Tech', 'Comady', 'News']
                </p>
                <ul id="contaiiner3"></ul>
                <!-- <p>Message: <strong class="text-success">{{messag1}}</strong></p> -->
            </div>
        </div>
    </div>
</div>