<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center">{{categoryId ? 'Edit' : 'New'}} Category</h3>
      <p class="text-center mb-5 text-theme-primary">You can add new categories from here</p>

      <form class="form-inline text-center" #categoryForm='ngForm' (ngSubmit)="onSubmit(categoryForm)">
        <div class="form-group col-md-10">
          <input type="text" name="category" [(ngModel)]="categoryName" class="form-control shadow-effect full-width"
            ngModel placeholder="Add New Category" required #newCategory="ngModel"
            [ngClass]="{'is-invalid' : newCategory.touched && newCategory.invalid}">
          <div class="alert slert-danger" *ngIf="newCategory.touched && newCategory.invalid">Category filed is require
          </div>
        </div>

        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-block btn-info mb-2 btn-theme"
            [disabled]="categoryForm.invalid">{{categoryId ? 'Edit catogory' : 'Add Category'}}</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>CategoryName</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categories; let i = index;">
                <td>{{i+1}}</td>
                <td>{{cat.category}}</td>
                <td>
                  <div class="btn btn-sm btn-warning" (click)="editCategory(cat)">Edit</div>
                  <div class="btn btn-sm btn-danger ml-2" (click)="deleteCategory(cat)">Delete</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>