<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">Thhis quix will contaain total 9 questiion. each questiion hold 10marks each</p>
    <h4>Rules:</h4>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nulla!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nulla!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nulla!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nulla!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nulla!</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center;">All the bast</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name</label>
        <input type="text" #name placeholder="Enter your name" class="form-control">
    </div>
    <button (click)="startQuiz()" class="btn btn-primary btn-lg">Start Quiz</button>
</div>